* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #ffffff;

  background-color: #ebf2f5;
}

body, input, button, textarea {
  font: 700 1.8rem Nunito, sans-serif;
}
