.sidebar {
  height: 100vh;
  padding: 3.2rem 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

.sidebar__happyIcon {
  width: 4.5rem;
}

.sidebar__goBack {
  width: 4.8rem;
  height: 4.8rem;
  border: 0;
  border-radius: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: #13a6c0;
  transition: background-color 0.2s;
}

.sidebar__goBack:hover {
  background-color: #17d6eb;
}

.sidebar__goBack > .arrowLeft {
  width: 2.4rem;
  height: 2.4rem;

  color: #ffffff;
}
