.pageRegisterSuccessful {
  width: 100vw;
  min-height: 100vh;

  padding: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #37C77F;
}

.pageRegisterSuccessful__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageRegisterSuccessful__title {
  margin-bottom: 2.2rem;

  font-size: 7rem;
  font-weight: 800;
  line-height: 8rem;
}

.pageRegisterSuccessful__description {
  margin-bottom: 6rem;

  font-size: 2.3rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.pageRegisterSuccessful__goToMap {
  max-width: 24rem;
}

.pageRegisterSuccessful__successImage {
  width: 38rem;
  min-width: 0;
  margin-left: 15rem;
}

@media (max-width: 950px) {
  .pageRegisterSuccessful__title {
    font-size: 6rem;
  }

  .pageRegisterSuccessful__description {
    font-size: 2.1rem;
  }

  .pageRegisterSuccessful__successImage {
    margin-left: 7rem;
    width: 28rem;
  }
}

@media (max-width: 780px) {
  .pageRegisterSuccessful {
    padding: 3rem;
  }

  .pageRegisterSuccessful__title {
    font-size: 5rem;
  }

  .pageRegisterSuccessful__description {
    font-size: 2rem;
  }

  .pageRegisterSuccessful__successImage {
    margin-left: 5rem;
    width: 21rem;
  }
}

@media (max-width: 600px) {
  .pageRegisterSuccessful {
    flex-direction: column;
  }

  .pageRegisterSuccessful__title {
    margin-bottom: 1.2rem;

    font-size: 5rem;
  }

  .pageRegisterSuccessful__description {
    margin-bottom: 4.5rem;

    font-size: 2rem;
  }

  .pageRegisterSuccessful__successImage {
    width: 100%;
    max-width: 21rem;
    margin-left: 0;
    margin-bottom: 4rem;

    order: -1;
  }
}
